


a{
    text-decoration: none;
    color: white;
}

.topbarContainer{
    width: 100%;
    height: 7rem;
    background: rgb(19, 21, 22);
    display: flex;
    align-items: center;
    position: sticky;
}

.logo{
    width: 10rem;
    height: 6.5rem;
    border-radius: 50%;
    padding: 5px;
}

.logoName{
    position: absolute;
    font-size: 40px;
    color: rgb(36, 243, 9);
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate
}

.topbarLeft{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(252, 252, 253, 0.925);
}

.topbarCenter{
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.topbarRight{
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes logoName {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }